  <div style="margin-top:10px;">
  		<!-- {{list.items}}
  	 <ol>
    	<li ng-repeat="item in list.items">
    		<b> {{item.short_name}} </b>&ndash; {{item.description}}
    		<button type="button" class ="btn btn-default" ng-click="list.onRemove({index: $index})">
    			Don't want this one!
    			
    			</button>
    	</li>
    	
    </ol> -->
  
  <div ng-show="list.searchBox"  class="table-responsive">          
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Short Name</th>
	        <th>Name</th>
	        <th>Descriptions</th>   
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	    	<tr ng-repeat="item in list.items">
	    		<td>{{item.short_name}}</td>
	    		<td>{{item.name}}</td>
	    		<td>{{item.description}}</td>
	    		<td>
	    			<button type="button" class ="btn btn-default" ng-click="list.onRemove({index: $index})">
    					Don't want this one!
    				</button>
    			</td>
	    	</tr>
	    </tbody>
	   </table>
</div>
   <div class="error" ng-transclude></div>
  	
  	
  </div>
   